<div id="<%= dom_id snippet %>">
  <p>
    <strong>Title:</strong>
    <%= snippet.title %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= snippet.language %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= snippet.contents %>
  </p>

</div>
